@tailwind base;
@tailwind components;
@tailwind utilities;

/* Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.three {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: none;
}
*::selection {
  color: #4d86f9;
  background-color: rgb(53, 53, 53);
}

#page1 canvas {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 75%;
}

#canvas-card {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 68vw;
  background-color: black;
  padding-bottom: 4vw;
}
#canvas-card canvas {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9;
}
#canvas-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#canvas-card #chat {
  position: absolute;
  width: 50%;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffffd2;
  display: flex;
  flex-direction: column;
  padding: 0 6.5vw;
  padding-top: 10vw;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #canvas-card {
    position: relative;
    height: 100vw;
  }
  #canvas-card #chat {
    position: absolute;
    width: 68%;
    top: 10%;
    left: 50%;
    padding: 0 6.5vw;
    padding-top: 10vw;
  }
  #chat .message p {
    font-size: 1.3vw;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  #canvas-card {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-bottom: 4vw;
  }
  #canvas-card #chat {
    position: absolute;
    width: 75%;
    top: 16%;
  }
  #chat .message p {
    font-size: 1.5vw;
    font-weight: 500;
  }
}

#chat .message:nth-child(1) .wrap {
  background-color: #3a6af8;
}
#chat .message:nth-child(2),
#chat .message:nth-child(4),
#chat .message:nth-child(5) {
  display: flex;
  align-items: center;
  justify-content: end;
}
#chat .message {
  margin-bottom: 2.5vw;
}
#chat .message:nth-child(4) {
  margin-bottom: 1vw;
}
#chat .message .wrap {
  width: 55%;
  background-color: #242424;
  padding: 1.2vw 1.5vw;
  border-radius: 1.2vw;
}
#chat .message:nth-child(2),
#chat .message:nth-child(4) {
  align-items: start;
}
#chat .message:nth-child(5) .wrap {
  margin-right: 3.6vw;
}
#chat .message .profile {
  width: 3vw;
  height: 3vw;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.6vw;
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chat .message p {
  font-size: 0.8vw;
  font-weight: 500;
}
#chat .message .wrap h5 {
  color: #0844ff;
  font-weight: 500;
  margin-bottom: 0.3vw;
  font-size: 0.8vw;
}
